<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AntennaHost" value="192.168.1.200" />
		<add key="AntennaPort" value="100" />
		<add key="ServerPort" value="10001" />
		<add key="ConnectionString" value="Data Source=.; User Id=sa; Password=1365; Initial Catalog=GasStation" />
	</appSettings>
</configuration>